*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: pink

}
.highlight{
    background-color: yellow;
}   

#main-heading{
    background-color: red !important;
}
h2{
    background-color:green;
    position: relative;
    left: 50px;
    /* top: 20px;
    bottom: 20px; */
}
h3{
    background-color: rgb(37, 209, 204);
    position: fixed;
    top: 0;
    /* bottom: 0;
    width: 100%; */
}
p{
    background-color: rgb(68, 6, 6);
    position: absolute;
    /* top: 10px;
    bottom: 10px; */
}