#container{
    height: 400px;
    width: 600px;
    background-color: white;
}
#circle{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 200px;
}